<style>
#logo{
	float:left; position:relative;top:40px;
}
#slogan{
	float:left; position:relative;top:40px;
}
.header_img_container img{
	width:100%;
	height:auto;
	margin-top:--16px;
}
.header_img_container {
	display:block;
}
</style>

<table style="width: 595px;" border="0" cellspacing="0" cellpadding="0" align="center" id="template">
<tbody>
<tr>
<td width="595" class="header_block">

<table style="border-width: 3px ;  width: 100%; {body_border_color};{body_border_style}" border="0" cellspacing="0" cellpadding="0" align="center" id="body_border">
<tbody >
<tr>
<td  width="597" >
<table style=" vertical-align:top; {header_background_style}"  width="100%" cellspacing="0" cellpadding="0" id="header_color" class="header_bg">
   <tr><td  align="center" id="header" colspan="2" style="width:100%;"  >{header}</td></tr>
</table>

</td>
</tr>
<!--banner start from here-->
<!--<tr>
<td colspan="2"></td>
</tr> -->
<!--banner end from here-->
<tr>
<td colspan="2">
<table style="background-color: #ffffff; width: 100%;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td style="padding:0px; {outer-background_style} " id="outer-background" class="body_bg">
<table style="width:100%;" border="0" cellspacing="0" cellpadding="0" align="center">
<tbody>
<tr>
<td style="color:#333333;{body_center_font_color}; ">
<table style="width: 100%;{body_center_font_color};" border="0" cellspacing="1" cellpadding="0">
<tbody>
<tr>
<td style="  font-family: arial, Helvetica, sans-serif; font-size: 12px;  min-height:50px; {body_main_style};{body_center_font_color};" valign="top"  class="body_bg body_font_color">
<div id="body_main" style="float:left;width:595px;text-align:center;">
{body_main}
</div>
<div id="body_bottom" style="float:left;text-align:right;width:100%;">
{body_bottom}
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="{footer_color_txt}; {footer_style};"  align="left" id="footer" class="footer_color_txt footer_font_txt footer_bg footer_font_color" ><div style="padding:15px 15px 15px 15px;float:left;"><font size="{footer_font_txt}">&copy;</font> <font size="{footer_font_txt}" class="footer_text">{footer}</font></div></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>