<table  align="center">
	<tr>
		<td>
			<table width="597" cellspacing="0" cellpadding="0" class="container-div preheader" id="block_1422482459628">
				<tr>
					<td align="center"  class="handler_div td_preheader" style="width:50%;">
						<div class="preheader-text" style="padding:5px;text-align:left;font-family:helvetica;font-size:11px; line-height:125%;"><div class="empty_preheader">This is a pre-header. Use this area to write a short preview of your email content.</div></div>
					</td>
					<td class="mailTopLink" valign="top" align="right" style="width:50%;">
						<div class="preheader-link" style="padding:5px; text-align:right;font-family:helvetica; font-size:11px; line-height:125%;text-decoration: underline;">Email not displaying correctly? View in browser</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
      <table  cellspacing="0" cellpadding="0" id="email_template_table" width="597" style="border-width:1px;border-style:solid;border-collapse:separate;border-radius:10px; overflow:hidden;">
				<tr>
					<td id="header" align="center" >
						<div class="header_div">
						<span class="empty_header">
						</span>
						</div>
					</td>
				</tr>
				<tr>
					<td class="empty_block" id="body_main" valign="top"></td>
				</tr>
				<tr>
					<td id="footer" valign="middle" style="font-size:11px;line-height:125%;font-family:helvetica;">
					{FOOTER}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
